<h2>{{@title}}</h2>

<ul>
  {{#each @things as |something|}}
    <li>
      <button
        type="button"
        {{on "click" (fn this.showSomething something)}}
      >{{something}}</button>
    </li>
  {{/each}}
</ul>