@keyframes copy-animation {
  0% {
    transform: none;
  }
  50% {
    transform: translate(2px, 1px);
  }
  100% {
    transform: none;
  }
}

.copy-animated {
  animation: copy-animation 200ms;
}

.loading {
  font-size: 1.5rem;
}
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1200ms infinite;
  animation: ellipsis steps(4, end) 1200ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.5rem;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.5rem;
  }
}
