:root {
  --header-font: "Bebas Neue";
  --body-font: "Fjalla One";
  --standard-border: 2px solid black;
  --header-height: 150px;
}

body {
  font-family: var(--body-font);
}

pre {
  white-space: pre-wrap;
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 0;
}

p {
  margin: 0.5rem 0;
}

a {
  color: black;
}

code {
  font-size: 1.1rem;
}

.use-header-font {
  font-family: var(--header-font);
}

.use-body-font {
  font-family: var(--body-font);
}

.column-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row-layout {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.underlined {
  text-decoration: underline;
}

.bold {
  font-size: 1.3rem;
}

.cursor-pointer {
  cursor: pointer;
}

.active {
  display: block;
}

.inactive {
  display: none;
}

.app-header {
  width: 100%;
}

.route-container {
  margin-top: 180px !important;
}

.chat-container {
  width: 80vw;
  margin: 1rem;
}

.messages {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.message-meta {
  border-bottom: var(--standard-border);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  max-width: 100%;
}

.left-bubble-container {
  display: flex;
  flex-direction: row;
}

.left-bubble-content {
  border: var(--standard-border);
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 2px;
  max-width: 80%;
}

.right-bubble-container {
  display: flex;
  flex-direction: row-reverse;
}

.right-bubble-content {
  text-align: right;
  border: var(--standard-border);
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-radius: 2px;
  max-width: 80%;
}

.right-bubble-message {
  text-align: right;
}

.input-field {
  width: 100%;
}

.button {
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: var(--body-font);
  border: var(--standard-border);
}
.button:hover {
  background-color: white;
  color: black;
}
.button:disabled {
  background-color: lightgray;
  color: white;
  cursor: default;
}

.input-checkbox {
  accent-color: black;
  cursor: pointer;
}

.input-textarea {
  width: 100%;
  font-family: var(--body-font);
  border: var(--standard-border);
}
.input-textarea:focus {
  outline: none !important;
}

.code-snippet {
  border: var(--standard-border);
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 1px;
  display: flex;
  position: relative;
  padding: 0.5rem;
  padding-right: 4rem;
  margin: 0.3rem 0;
}

.image-button {
  border: none;
  background-color: white;
  cursor: pointer;
}
.image-button:hover {
  filter: invert(1);
  transition: 100ms;
}

.copy-image-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 4px 1px 1px 1px;
}

.copy-image {
  width: 2rem;
  height: 2rem;
}

.scroll-to-bottom-button {
  padding: 2px;
}

.menu-button {
  padding: 6px;
}

.menu-image {
  transform: rotate(45deg);
  transition: 400ms;
}

.rotated {
  transform: rotate(-90deg);
}

.header-image {
  height: calc((var(--header-height) / 4) + 10px);
}

.header-wrapper {
  height: var(--header-height);
  margin-bottom: 1rem;
  width: 100%;
  background-color: white;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
}

.header {
  display: flex;
  text-align: center;
  background-color: white;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  font-family: var(--header-font);
  font-size: 4rem;
  border-bottom: 4px solid black;
  transition: 150ms;
  margin: 0;
  z-index: 10;
}

.header-title {
  width: 100%;
}

.header-right {
  float: right;
  width: 15vh;
}

.header-left {
  float: left;
  width: 15vh;
}

.menu-wrapper {
  background-color: white;
  position: fixed;
  top: var(--header-height);
  left: 0;
  height: calc(100% - var(--header-height));
  border-top: 4px solid black;
  border-right: 4px solid black;
}

.menu {
  gap: 0;
}

.menu-item {
  width: 100%;
  border-top: 2px solid black;
  font-size: 5rem;
  margin: 0 1rem;
}
.menu-item:last-child {
  border-bottom: 2px solid black;
}
.menu-item:hover {
  background-color: black;
  transition: 100ms;
}
.menu-item a:hover {
  color: white;
  transition: 100ms;
}

.menu-item a {
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-item-selected {
  background-color: black;
}
.menu-item-selected a {
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 12;
}

.pop-up {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: var(--standard-border);
  padding: 2rem;
  text-align: center;
  z-index: 13;
}

.content-wrapper {
  width: 80%;
  text-align: center;
  display: -webkit-inline-flex;
}
.content-wrapper div:nth-child(even) {
  padding-left: 2rem;
  text-align: right;
  flex-direction: row-reverse;
}
.content-wrapper div:nth-child(odd) {
  padding-right: 2rem;
  text-align: left;
}

.test-api-key {
  width: 60%;
  height: 3rem;
}

.api-key-input {
  width: 20rem;
}

.model-button {
  width: 40%;
  height: 3rem;
}
