:root {
  --header-font: "Bebas Neue";
  --body-font: "Fjalla One";
  --standard-border: 2px solid black;
  --header-height: 20vh;
}

body {
  font-family: var(--body-font);
}

pre {
  white-space: pre-wrap;
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  margin: 0;
}

p {
  margin: 0.5rem 0;
}

a {
  color: black;
}

code {
  font-size: 1.1rem;
}

.use-header-font {
  font-family: var(--header-font);
}

.use-body-font {
  font-family: var(--body-font);
}

.column-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row-layout {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.underlined {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.app-header {
  width: 100%;
}

.chat-container {
  width: 80vw;
  margin: 1rem;
}

.messages {
  display: flex;
  gap: 1rem;
  padding-bottom: 2rem;
}

.message-meta {
  border-bottom: var(--standard-border);
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  max-width: 100%;
}

.left-bubble-container {
  display: flex;
  flex-direction: row;
}

.left-bubble-content {
  border: var(--standard-border);
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 2px;
  max-width: 80%;
}

.right-bubble-container {
  display: flex;
  flex-direction: row-reverse;
}

.right-bubble-content {
  text-align: right;
  border: var(--standard-border);
  border-bottom: 4px solid black;
  border-left: 4px solid black;
  border-radius: 2px;
  max-width: 80%;
}

.right-bubble-message {
  text-align: right;
}

.input-field {
  width: 100%;
}

.button {
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: var(--body-font);
  border: var(--standard-border);
}
.button:hover {
  background-color: white;
  color: black;
}
.button:disabled {
  background-color: lightgray;
  color: white;
  cursor: default;
}

.input-checkbox {
  accent-color: black;
  cursor: pointer;
}

.input-textarea {
  width: 100%;
  font-family: var(--body-font);
  border: var(--standard-border);
}
.input-textarea:focus {
  outline: none !important;
}

.code-snippet {
  border: var(--standard-border);
  border-bottom: 4px solid black;
  border-right: 4px solid black;
  border-radius: 1px;
  display: flex;
  position: relative;
  padding: 0.5rem;
  padding-right: 4rem;
  margin: 0.3rem 0;
}

.image-button {
  border: none;
  background-color: white;
  cursor: pointer;
}
.image-button:hover {
  filter: invert(1);
}

.copy-image-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 4px 1px 1px 1px;
}

.copy-image {
  width: 2rem;
  height: 2rem;
}

.scroll-to-bottom-button {
  padding: 2px;
  float: right;
}

.scroll-to-bottom-image {
  height: calc((var(--header-height) / 4) + 10px);
}

.header-wrapper {
  height: var(--header-height);
  margin-bottom: 1rem;
  background-color: white;
  z-index: 10;
}

.header {
  display: flex;
  text-align: center;
  position: fixed;
  background-color: white;
  width: 100%;
  height: var(--header-height);
  top: 0;
  left: 0;
  font-family: var(--header-font);
  font-size: 4rem;
  border-bottom: 4px solid black;
  transition: 150ms;
  margin: 0;
  z-index: 10;
}

.header-title {
  width: 100%;
}

.header-right {
  float: right;
  width: 15vh;
}

.header-left {
  float: left;
  width: 15vh;
}
