:root {
  --header-font: "Bebas Neue";
  --body-font: "Fjalla One";
  --standard-border: 2px solid black;
}

.use-header-font {
  font-family: var(--header-font);
}

.use-body-font {
  font-family: var(--body-font);
}

body {
  font-family: var(--body-font);
}

h1 {
  font-family: var(--header-font);
  font-size: 4rem;
}

pre {
  white-space: pre-wrap;
  font-family: var(--body-font);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row-layout {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header {
  width: 100%;
}

.chat-container {
  width: 80vw;
  border-top: var(--standard-border);
  margin: 1rem;
}

.left-bubble-container {
  display: flex;
  flex-direction: row;
  border-bottom: var(--standard-border);
}

.right-bubble-container {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: var(--standard-border);
}

.right-bubble-content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 1rem;
  max-width: 80%;
}

.right-bubble-message {
  text-align: right;
  padding: 1rem 0;
}

.left-bubble-content {
  padding: 1rem;
  max-width: 80%;
}

.loading {
  font-size: 1.5rem;
}
.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 1200ms infinite;
  animation: ellipsis steps(4, end) 1200ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.5rem;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.5rem;
  }
}

.message-meta {
  padding-block-end: 0.5rem;
  font-size: 0.8rem;
}

.messages {
  padding-bottom: 2rem;
}

.input-field {
  width: 100%;
}

.underlined {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.button {
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: var(--body-font);
  border: var(--standard-border);
}
.button:hover {
  background-color: white;
  color: black;
}
.button:disabled {
  background-color: lightgray;
  color: white;
  cursor: default;
}

.input-checkbox {
  accent-color: black;
  cursor: pointer;
}

.input-textarea {
  width: 100%;
  font-family: var(--body-font);
  border: var(--standard-border);
}
.input-textarea:focus {
  outline: none !important;
}

.code-snippet {
  border: 1px solid black;
  display: flex;
  position: relative;
  padding: 0.5rem;
  padding-right: 4rem;
}

.copy-image-button {
  position: absolute;
  cursor: pointer;
  top: 0.5rem;
  right: 0.5rem;
  padding: 4px 1px 1px 1px;
  border: none;
  background-color: white;
}
.copy-image-button:hover {
  filter: invert(1);
}

.copy-image {
  width: 2rem;
  height: 2rem;
}

code {
  font-size: 1.1rem;
}
