:root {
  --header-font: "Bebas Neue";
  --body-font: "Fjalla One";
}

.use-header-font {
  font-family: var(--header-font);
}

.use-body-font {
  font-family: var(--body-font);
}

body {
  font-family: var(--body-font);
}

h1 {
  font-family: var(--header-font);
  font-size: 4rem;
}

.column-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row-layout {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header {
  width: 100%;
}

.chat-container {
  width: 80vw;
  border: 2px solid rgb(109, 109, 109);
  padding: 1rem;
}

.left-bubble-container {
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid black;
}

.right-bubble-container {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 2px solid black;
}

.right-bubble-content {
  direction: rtl;
  padding: 1rem;
  max-width: 85%;
}

.left-bubble-content {
  padding: 1rem;
  max-width: 85%;
}

/* Spinner css */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.message-meta {
  padding-block-end: 0.5rem;
  font-size: 0.8rem;
}

.messages {
  padding-bottom: 2rem;
}

.input-field {
  width: 100%;
}

.underlined {
  text-decoration: underline;
}

.cursor-pointer {
  cursor: pointer;
}

.submit-button {
  background-color: black;
  color: white;
  cursor: pointer;
  font-family: var(--body-font);
}
.submit-button:hover {
  background-color: white;
  color: black;
}
.submit-button:disabled {
  background-color: lightgray;
  color: white;
  cursor: default;
}

.input-checkbox {
  accent-color: black;
  cursor: pointer;
}
