body {
  font-family: "Helvetica", Sans-Serif;
  background-color: rgb(122, 93, 48, 48);
}

/*
colors
TODO: make into variables

rgb(122, 93, 48, 48)
rgb(251, 220, 173, 98)
rgb(250, 190, 98, 98)
rgb(122, 107, 84, 48)
rgb(199, 150, 78, 78)
*/

.column-layout {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.row-layout {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-header {
  width: 100%;
}

.chat-field {
  width: 80vw;
  background-color: rgb(122, 107, 84, 48);
  border: 2px solid rgb(109, 109, 109);
  padding: 1rem;
  box-shadow: 0 0 40px rgb(199, 150, 78, 78);
}

.left-bubble-container {
  display: flex;
  flex-direction: row;
}

.right-bubble-container {
  display: flex;
  flex-direction: row-reverse;
}

.right-bubble-content {
  border: 1px solid black;
  background-color: rgb(250, 190, 98, 98);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 85%;
  box-shadow: 10px 10px 20px #b0541a72;
}

.left-bubble-content {
  border: 1px solid black;
  background-color: rgb(199, 150, 78, 78);
  border-radius: 1rem;
  padding: 1rem;
  max-width: 85%;
  box-shadow: -10px 10px 20px #b0541a72;
}

/* Spinner css */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
